<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AxiomRelay</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <main>
        <div class="info">
            <div>
                <header>
                    <h1>AxiomRelay <span>(v{%version%})</span></h1>
                    <p>Hosted on <span class="darkest">{%hostname%}</span></p>
                    <p>Ran by <a href="{%adminURL%}" class="darkest">{%adminUsername%}</a></p>
                    <p>Source code: <a href="https://github.com/Exerra/axiomrelay" class="darkest">https://github.com/Exerra/axiomrelay</a></p>
                </header>

                <!-- <hr /> -->

                <p>{%description%}</p>

                <hr />

                <h2>How to join?</h2>

                <p>This instance is {%whichlist%}</p>

                <h3>Mastodon, Misskey</h3>
                <p>Admins can add this relay by adding <code>https://{%hostname%}/inbox</code> in their relay settings.</p>

                <h3>Pleroma, Akkoma</h3>
                <p>Not yet implemented. Admins can try adding <code>https://{%hostname%}/inbox</code> in their relay settings, however not guaranteed that it will work.</p>
            </div>
        </div>
    
        <div class="instances">
            <h2>Connected instances</h2>
            <p>Currently {%connectedInstancesCount%} instances are connected.</p>
            <table>
                <tr>
                    <th>Hostname</th>
                </tr>
                {%connectedInstances%}
            </table>

            <hr />

            <h2>Subscribed relays</h2>
            <p>Currently this relay has subscribed to {%subscribedRelaysCount%} relays.</p>
            <table>
                <tr>
                    <th>Hostname</th>
                </tr>
                {%subscribedRelays%}
            </table>
        </div>
    </main>
</body>
</html>