html, body {
    /* padding: 20px; */
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    height: 100%;
    background-color: #1C1D21;
    color: #F1E3E4;
    /* max-height: 100vh; */
    width: 100vw;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
}

.info {
    grid-area: "info";
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #F1E3E4;
    padding-left: 50px;
    padding-right: 50px
    /* max-width: 50vw; */
}

.info > div {
    /* margin-left: auto;
    margin-right: auto; */
}

.info > div > header {
    color: #BB9BB0;
}

.info > div > header > h1 {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
}

.info > div > header > p {
    margin: 0;
    margin-top: 2px;
}

.darkest {
    color: #A288A6;
}

.instances {
    grid-area: "instances";
    padding: 10px;
    /* width: 100%; */
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    padding-left: 50px;
    padding-right: 50px
    /* scrollbar-gutter: stable both-edges; */
}

tr, td, th {
    padding-top: 10px;
    padding-bottom: 10px;
}

tr, td {
    border-top: 1px solid rgba(204, 188, 188, 0.154);
    /* padding: 5px; */
}

th {
    text-align: left;
}

table {
    width: 100%;
}

code {
    background-color: rgba(162, 136, 166, 0.3);
    padding: 5px;
    border-radius: 5px;
}

h3 {
    color: #CCBCBC;
}

@media only screen and (max-width: 600px) {
    html, body, main {
        height: auto;
    }

    main {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: 100%;
    }

    .instances {
        padding-left: 30px;
        padding-right: 30px
    }

    .info {
        padding-left: 30px;
        padding-right: 30px;
        border-right: 0px;
        border-bottom: 0px;
        /* border-bottom: 1px solid #F1E3E4; */
        /* max-width: 50vw; */
    }
}